body {
   background-color: white;
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}
header {
   background-color: #001f3f;
   color: white;
   text-align: center;
   padding: 20px;
   width: 100%;
}
header h1 {
   margin: 0;
   font-size: 48px;
}
header p {
   font-size: 24px;
}
section {
   text-align: center;
   padding: 10px;
}
header img {
   width: 200px;
   border-radius: 50%;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
.tiles {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.tile {
   background-color: #001f3f;
   color: white;
   width: 30%;
   margin: 10px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s;
   max-width: 500px;
   max-height: 500px;
}
.tile:hover {
   transform: scale(1.05);
}
.tile img {
   padding: 5px;
   width: 150px;
}
.tile p {
   margin-top: 10px;
   font-size: 18px;
}
footer {
   background-color: #001f3f;
   color: white;
   text-align: center;
   padding: 10px;
   width: 100%;
}
footer a {
   color: #7FDBFF;
   text-decoration: none;
}
a:hover {
   color: gray; 
}  
a:active {
   color: purple;
}